<html>
  <head>
    <title>Monster Trucks</title>
  </head>
  <body>
      <h1>EDIT MONSTER TRUCK!</h1>
      <a href="/monster_trucks">Go back to all trucks<a>
      <br><br>
      <form class="" action="/update_truck/{{ truck.id }}/" method="get">
        <label for="name">Name of truck</label><br>
        <input type="text" name="name" value="{{ truck.name }}" required>
        <br><br>
        <label for="">Color of truck</label><br>
        <input type="text" name="color" value="{{ truck.color }}" required>
        <br><br>
        <button type="submit" name="button">Submit</button>
      </form>
  </body>
</html>
