<html>
  <head>
    <title>Monster Trucks</title>
  </head>
  <body>
    <h1>HERE ARE ALL THE MONSTER TRUCKS!</h1>
    <a href="/">Go back to homepage<a>
    <br>
    <a href="/monster_trucks/new">Add new monster truck<a>
    <br><br>

    {% for truck in trucks %}
      <br><br>
      <a href="/monster_trucks/{{ truck.id }}">
        <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple71/v4/0e/fb/3a/0efb3a8a-ee19-5c9f-9bd5-e9c5f7269f61/source/256x256bb.jpg" height="75">
      </a>
      <p>Name: {{ truck.name }}</p>
      <p>Color: {{ truck.color }}</p>
      <form action="/monster_trucks/{{ truck.id }}/edit">
        <input type="submit" name="delete" value="Edit">
      </form>
      <form action="/delete_truck/{{ truck.id }}" method="DELETE">
        <input type="submit" name="delete" value="Delete">
      </form>
    {% endfor %}

  </body>
</html>
