<html>
  <head>
    <title>Monster Trucks</title>
  </head>
  <body>
    <h1>HERE IS THAT ONE MONSTER TRUCK!</h1>
    <a href="/monster_trucks">Go back to all trucks<a>
    <br><br>
      <br><br>
      <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple71/v4/0e/fb/3a/0efb3a8a-ee19-5c9f-9bd5-e9c5f7269f61/source/256x256bb.jpg" height="75">
      <p>Name: {{ truck.name }}</p>
      <p>Name: {{ truck.color }}</p>
      <form action="/monster_trucks/{{ truck.id }}/edit">
        <input type="submit" name="delete" value="Edit">
      </form>
      <form action="/delete_truck/{{ truck.id }}" method="POST">
        <input type="submit" name="delete" value="Delete">
      </form>
  </body>
</html>
